In [1]:
import os
import zipfile

data_dir = './data/'

file_list = [f for f in os.listdir(data_dir) if '.zip' in f]
print(file_list)

zipfilePath = (data_dir+file_list[0])
zip = zipfile.ZipFile(zipfilePath)
zip.extractall("./data")
zip.close()


file_list = os.listdir('./data/')
print(file_list)

['videogamesales.zip']
['vgsales.csv', 'videogamesales.zip']

In [15]:
import pandas as pd

data_dir = './data/'
file_list = [f for f in os.listdir(data_dir) if '.zip' not in f]

org_df = pd.read_csv(data_dir+file_list[0])
org_df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [29]:
print(org_df.Platform.unique())
print(org_df.Genre.unique())
print(org_df.Year.unique())
# print(org_df.Publisher.unique())
df = org_df.drop('Publisher', axis=1)
df.head()

['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']
['Sports' 'Platform' 'Racing' 'Role-Playing' 'Puzzle' 'Misc' 'Shooter'
 'Simulation' 'Action' 'Fighting' 'Adventure' 'Strategy']
[2006. 1985. 2008. 2009. 1996. 1989. 1984. 2005. 1999. 2007. 2010. 2013.
 2004. 1990. 1988. 2002. 2001. 2011. 1998. 2015. 2012. 2014. 1992. 1997.
 1993. 1994. 1982. 2003. 1986. 2000.   nan 1995. 2016. 1991. 1981. 1987.
 1980. 1983. 2020. 2017.]

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37

In [31]:
pf_dict = {df['Platform'][idx]: idx for idx in range(len(df['Platform']))}
gn_dict = {df['Genre'][idx]: idx for idx in range(len(df['Genre']))}
# yr_dict = {df['Year'][idx]: idx for idx in range(len(df['Year']))}

df['Platform'] = df['Platform'].map(pf_dict)
df['Genre'] = df['Genre'].map(gn_dict)
# df['Year'] = df['Year'].map(yr_dict)

df.head()

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,16581,2006.0,16587,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,12636,1985.0,16597,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,16581,2008.0,16595,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,16581,2009.0,16587,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,12670,1996.0,16590,11.27,8.89,10.22,1.00,31.37